@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary;
  }
}

body {
  font-family: "Jost", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background: gray;
}

:-webkit-slider-thumb {
  background-color: gray;
}
